/* Brackets Milk Oolong Theme */

/* Colors */

@dark-green: #38700F;
@light-green: #cce8b0;
@yellow-green: #c2e438;
@dark-yellow-green: #aacd1c;

@dark-orange: #d03306;
@orange: #feb706;
@yellow: #b7ae19;

@very-light-grey: #f3f3f1;
@light-grey: #cfcfc9;
@medium-grey: #9f9f93;
@dark-grey: #44443c;

@red: #A30800;
@white: #ffffff;

/* Styling */

@background: @white; // Code background
@foreground: @dark-grey; // Code foreground
@comment: @medium-grey; // Comment color
@tag: @dark-green; // HTML tag
@attribute: @dark-green; // HTML attribute
@id: @dark-green; // CSS ID
@property: @dark-grey; // Property, CSS key
@qualifier: @dark-yellow-green; // Qualifier, CSS class
@value: @yellow; // CSS Value
@string: @dark-green; // String
@variable: @dark-orange; // Variable
@definition: @dark-grey; // Definition
@keyword: @red; // Keyword
@number: @orange; // Number
@operator: @dark-grey; // Math
@error: @red; // Error!
@matchingbracket: @yellow-green; // Matchingbracket

/* Code Styling */

.CodeMirror, .CodeMirror-scroll { background-color: @background; color: @foreground; } // Overlay
.CodeMirror-linenumber { color: @comment; } // Line numbers
.cm-comment { color: @comment; } // Comment
.cm-atom { color: @definition; } // Definition
.cm-keyword { color: @keyword; } // Keyword
span.CodeMirror-matchingbracket { background-color: @matchingbracket; } // matchingbracket

/* HTML, XML mode */
.cm-m-xml.cm-tag { color: @tag; }

/* CSS, LESS mode */ 
.cm-m-css.cm-variable-2 { color: @variable; } // Variable
.cm-m-css.cm-qualifier { color: @qualifier; } // Class
.cm-m-css.cm-property { color: @property; } // Key
.cm-m-css.cm-builtin { color: @id; } // Id
.cm-m-css.cm-tag { color: @orange; } // Tag
.cm-m-css.cm-atom { color: @yellow; } // Value

/* JavaScript mode */


/* Php mode */